<div class="center">

  <h1 class="Info"> Registration </h1>


    <form name="signupForm" novalidate>
      First Name* :<br>
         <input type="text" name="firstName" width="900" height="40"
          ng-model="signupCtrl.user.firstName"
          required
          class="blackfont">

          <span ng-if="signupForm.firstName.$error.required
                      && signupForm.firstName.$touched">
          <div class="validityMsg">Enter your first name please. This field is required</div>
          </span>
        <br><br>
      Last Name* :<br>
        <input type="text" name="lastName"
        ng-model="signupCtrl.user.lastName"
        required
        class="blackfont">

        <span ng-if="signupForm.lastName.$error.required
                    && signupForm.lastName.$touched">
        <div class="validityMsg">Enter your last name please. This field is required</div>

        </span>
        <br><br>
      Email Adress* :<br>
        <input type="email" name="email" placeholder="adress@domain"
        ng-model="signupCtrl.user.emailAdress"
        required
        class="blackfont">
        <span ng-if="signupForm.email.$invalid
                    && signupForm.email.$touched">
        <div class="validityMsg">Must enter a valid adress : adress@domain format</div>
        </span>
        <br><br>
      Phone Number* :<br>
        <input type="phone" name="phone"
        ng-model="signupCtrl.user.phoneNumber"
        ng-maxlength="9"
        class="blackfont">

        <span ng-if="signupForm.phone.$error.maxlength
                    && signupForm.phone.$touched">
        <div class="validityMsg">Phone number must be 9 digits long</div>
        </span>
        <br><br>
      Favorite Dish* :<br>
        <input type="favoriteDish" name="favoriteDish"
        ng-model="signupCtrl.user.shortName"
        required
        class="blackfont">{{signupCtrl.user.shortName}}
        <span ng-if="signupForm.favoriteDish.$error.required
                    && signupForm.phone.$touched">
        <div class="validityMsg">Enter your favorite dish please</div>
        </span>
        <br><br>

<!--ui-sref="public.menuitems({category: signupCtrl.shortName})"-->
        <button
        ng-disabled="signupForm.$invalid || signupForm.$error.required ||signupForm.$error.maxlength"
        ng-click="signupCtrl.submit();">Submit</button>
        <h3 class="msg" ng-show="signupCtrl.error" >No such menu number exists ! </h3>
        <h3 class="msg" ng-show="signupCtrl.registred" >Your information has been saved </h3>

  </form>



</div>
